.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.catagories img{
    width: 100px;
}
.panda-slide .carousel-item, .panda-subcribe{
    background-color: #fceae8;
    border-radius: 1em;
}
